body{
    background-color: black;
    margin: 0;
    font-family: "Montserrat", "Avenir";
    
}

h1{
    color: white;
    text-align: center;
    background-color: pink;
    margin: 0 ;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#container{
    max-width: 600px;
    margin: 20px auto;
    

}

.square {
    width: 30%;
    padding-bottom: 30%;
    background-color: blanchedalmond;
    margin: 1.66%;
    float: left;
    border-radius: 60%;
    transition: background 0.6s;
   -webkit-transition: background 0.6s;
   -moz-transition: background 0.6s;
}

#messageDisplay {
    color:black;
    display: inline-block;
    width: 20%;
    font-family: "Montserrat", "Avenir";
    font-weight: 700;
    font-size: inherit;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

.modeSelected{
    background-color: pink;
    color: white;
    
}

#colorDisplay {
    font-size: 200%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: "Montserrat", "Avenir";
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    transition: all .3s;
    outline: none;
}

button:hover{
    color: white;
    background-color: pink;
    
}